# 1. INDEXING

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [2]:
msg = employee_data[0] + " is wowking in " + employee_data[2] + " for " + str(employee_data[3]) + " years and his salary is " + str(employee_data[1])
print(msg)

Ali is wowking in Google for 5 years and his salary is 125000

In [3]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
               '28 Januray 2020', '05 February 2020']

In [4]:
msg1 = """hello {person_name},
Your application is accepted for admsiion in {course} in {university}.
you have to submit fee {fee} before {due_date}.
your class will start from {class_date}. \n thanks.""".format(person_name = studentData[0],
                                                                course = studentData[3],university = studentData[2],
                                                                fee = studentData[-3],
                                                                due_date = studentData[-2],
                                                                class_date = studentData[-1])

In [5]:
print(msg1)

hello Ahmed,
Your application is accepted for admsiion in Computer Science in Government College University.
you have to submit fee 50000 before 28 Januray 2020.
your class will start from 05 February 2020.
 thanks.

In [6]:
msg2 = """hello {person_name},
Your application is accepted for admsission in {course} in {university}.
you have to submit fee {fee} before {due_date}.
your class will start from {class_date}. \n thanks.""".format(person_name = studentData[1],
                                                                course = studentData[3],university = studentData[2],
                                                                fee = studentData[-3],
                                                                due_date = studentData[-2],
                                                                class_date = studentData[-1])
print(msg2)

hello Bilal,
Your application is accepted for admsission in Computer Science in Government College University.
you have to submit fee 50000 before 28 Januray 2020.
your class will start from 05 February 2020.
 thanks.

# 2. Slicing

In [7]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [8]:
#POSTIVE SLICING
cities[:4],cities[2:6],cities[5:]

(['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar'],
 ['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal'],
 ['Sahiwal', 'Rawalpindi', 'Sialkot'])

In [9]:
#NEGATIVE SLICING
cities[-4:-1],cities[-5:]

(['Quetta', 'Sahiwal', 'Rawalpindi'],
 ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot'])

# 3. Update Lists

In [10]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [11]:
#Add values to this list using append
studentData.append("20 february 2019")
studentData.append(8)
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 february 2019',
 8]

In [12]:
#Use insert method to insert at specific index
studentData.insert(4,25000)
studentData

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 february 2019',
 8]

In [13]:
#Use insert method to insert at specific index
studentData.insert(1,"M.iqbal")
studentData

['Ali Raza',
 'M.iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 february 2019',
 8]

In [14]:
#Update list using list update method:
studentData[0] = "Zohaib ali"
studentData[-4] = 7
studentData

['Zohaib ali',
 'M.iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 7,
 'University of Agriculture',
 '20 february 2019',
 8]

In [15]:
#Remove values from list using remove method
studentData.remove("Computer Science")
studentData.remove(91.24)
studentData

['Zohaib ali',
 'M.iqbal',
 22,
 25000,
 7,
 'University of Agriculture',
 '20 february 2019',
 8]

In [16]:
#Removing last value using pop method
studentData.pop()

8

In [17]:
#removing value at index 3 using pop method
studentData.pop(3)

25000

In [18]:
studentData

['Zohaib ali',
 'M.iqbal',
 22,
 7,
 'University of Agriculture',
 '20 february 2019']

# Multidimensional list tasks

In [19]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

# For Loop Tasks

In [20]:
#Print name of employees with salaray greater than 50000.
for i in employeeData:
    salary = i[1]
    if salary >= 50000:
        print(i[0],"with slary",i[1])

Talha with slary 55000
Nasir with slary 79000

In [21]:
#Calculate total salary of all employees.
total_salary = 0
for i in employeeData:
    total_salary += i[1]
print("total salary of all employees:" ,total_salary)

total salary of all employees: 213000

List update tasks

In [22]:
#Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
for i in employeeData:
    if i[0] == "Nasir":
        i[1]=90000
        i[2]="Product manager"
        print(employeeData[2])

['Nasir', 90000, 'Product manager']

In [23]:
#Change salary of Khalid to 50000
for i in employeeData:
    if i[0] == "Khalid":
        i[1] = 50000
        print(employeeData[-1])

['Khalid', 50000, 'DBA']

In [24]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product manager'],
 ['Khalid', 50000, 'DBA']]

# Login User
You have given some users data. You have to write a script to check if username and password are correct. If username and password are correct. Then you have to check if email is verified or not. If it is verified then print Login Succeed else print Email not verified. If username or password are incorrect you have to print Incorrect Login details

In [25]:
user_name = input("user name= ")
passward = input("passward= ")
verfiedEmails = ("faizan1214")
if user_name == "faizan1214" and passward == "qwerty":
    if verfiedEmails.__contains__(user_name):
        print("Verified Email") 
    else :
        print("Email not verified")
    print("Log in Sucessfull")
else:
    print("Incorrect Login details")

user name= faizan1214
passward= qwerty
Verified Email
Log in Sucessfull

In [26]:
user_name = input("user name= ")
passward = input("passward= ")
verfiedEmails = ()
if user_name == "faizan1214" and passward == "qwerty":
    if verfiedEmails.__contains__(user_name):
        print("Verified Email") 
    else :
        print("Email not verified")
    print("Log in Sucessfull")
else:
    print("Incorrect Login details")

user name= faizan1214
passward= qwerty
Email not verified
Log in Sucessfull